[defaults]
; Temporary directory to use on targets when executing tasks.
remote_tmp = ~/.ansible/tmp
log_path=~/.config/provisioner/ansible/logs

; This is the default timeout for connection plugins to use.
timeout=30
; Set the maximum time (in seconds) that a task can run for. If set to 0 (the default) there is no timeout.
# task_timeout=10
task_timeout=300

# Supply via env var
# interpreter_python=/usr/local/bin/python3
# interpreter_python=/app/.venv/bin/python3.11
# interpreter_python=/usr/bin/python3.9
; interpreter_python=/usr/bin/python3

; Ignore warning such as:
; [WARNING]: Platform linux on host test-node is using the discovered Python
;            interpreter at /usr/local/bin/python3.11, but future installation of another
;            Python interpreter could change the meaning of that path

; Suppress Python interpreter discovery warnings
# interpreter_python_discovery=auto_silent
# ansible_python_interpreter=auto_silent
# interpreter_python_warning=False
# system_warnings=False
# deprecation_warnings=False
# display_skipped_hosts=False
# command_warnings=False
# action_warnings=False

# TODO: Remove this one, should be used only for debugging/testing, can use ANSIBLE_HOST_KEY_CHECKING=False for tests ansible run
host_key_checking = False ; to allow SSH connection using a password
; inventory = /etc/ansible/hosts  ; This points to the file that lists your hosts

; Use the stdout_callback when running ad-hoc commands.
; Download plugins from: https://github.com/ansible-collections/community.general/tree/main/plugins
bin_ansible_callbacks = True
# callback_plugins = ./callback_plugins ; This points to the callback plugins folder

# 
# stdout callbacks are being loaded via env var: ANSIBLE_STDOUT_CALLBACK
# 
# stdout_callback = custom_yaml
# stderr_callback = custom_yaml
# callback_whitelist = custom_yaml

# stdout_callback = community.general.yaml
# stderr_callback = community.general.yaml
# callback_whitelist = community.general.yaml

; Use YAML format for output/error
# stdout_callback = yaml
# stderr_callback = yaml
;stdout_callback=debug

[persistent_connection]
; This controls the amount of time to wait for response from remote device before timing out persistent connection.
command_timeout=30
; This controls the retry timeout for persistent connection to connect to the local domain socket.
connect_retry_timeout=15
; This controls how long the persistent connection will remain idle before it is destroyed.
connect_timeout=30

; [inventory]
; enable_plugins = yaml, ini

; This section allows us to forwards any SSH keys upon Ansible tasks execution.
; It will tell Ansible to forward private key to remote machine so that it could clone private repository.
;[ssh_connection]
;ssh_args = -o ForwardAgent=yes

# [ssh_connection]
# control_persist = 300s