.dashboardNotebookMainNotebookContainer{
    /* height: calc(100% - 30px) !important; */
    padding:10px !important;
    overflow-x: hidden;
    position: absolute !important;
    top: 30px !important;
    height: calc(100% - 61px) !important;
}

.mainKernelNotebookEditorContainer{
    width: calc(100% - 210px);
    height: 100%;
    position: absolute;
    left: 210px;
    top: 0px;
}

.resizableExplorer {
    width: 210px;
    height: 100%;
    position: relative;
    user-select: none
}

/* Resizer on the right side */
.resizableExplorer:after {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize; /* Horizontal resize cursor */
}
