[bumpversion]
current_version = 0.8.2
commit = True
tag = True
tag_name = v{new_version}
tag_message = Bump version pycafe-server: {current_version} → {new_version}
message = Bump version pycafe-server: {current_version} → {new_version}

[bumpversion:file:pycafe-private/package.json]

[bumpversion:file:src/pycafe_server/__about__.py]

[bumpversion:file:release.md]
