.dashboardNotebookMainNotebookContainer{
    /* height: calc(100% - 30px) !important; */
    padding: 0px;
    /* overflow-x: hidden; */
    overflow: hidden;
    position: absolute !important;
    top: 30px !important;
    height: calc(100% - 31px) !important;
}