.context-menu-list{
    z-index:10000 !important;
    -webkit-box-shadow: 0 0px 0px rgb(0 0 0 / 50%) !important;
    box-shadow: 0 0px 0px rgb(0 0 0 / 50%) !important;
}

.context-menu-item:hover{
    background-color: #ececec !important;
    color: black !important;
}