.folderRow{
    cursor: pointer;
    background:white;
    padding-left:15px; padding-right:15px;
    padding-top:3px;
    padding-bottom:3px;
}
.folderRow:hover{
    cursor: pointer;
    background:#ececec;
}
.fileRow{
    padding-left:15px; padding-right:15px;
    padding-top:3px;
    padding-bottom:3px;
}
.fileExcelRow{
    cursor: pointer;
    background:white;
    padding-left:15px; padding-right:15px;
    padding-top:3px;
    padding-bottom:3px;
}
.fileExcelRow:hover{
    cursor: pointer;
    background:#ececec;
}
