.dictKeys{
    font-size:0.85em;
    color: #757575 !important;
    border: solid 1px #e0e0e0 !important;
    background:white;
    cursor:pointer;
}
.dictKeys:hover{
    background-color: #3f51b5 !important;
    color:white !important;
}