.dashboardNotebookMainNotebookContainer{
    /* height: calc(100% - 30px) !important; */
    padding:10px;
    overflow-x: hidden;
    position: absolute !important;
    top: 30px !important;
    height: calc(100% - 61px) !important;
}