.CodeMirror-scroll{
    /* margin-right: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom:0px !important;
    overflow: auto !important;
    overflow-y: hidden !important; */
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.CodeMirror-sizer{
    margin-bottom: 0px !important;
}
