[project]
name = "starway"
version = "0.2.1"
description = "Starway UCX P2P communication lib."
readme = "README.md"
authors = [
    { name = "Clouder0", email = "clouder0@outlook.com" }
]
requires-python = ">=3.10"
dependencies = [
    "numpy>=2.0.0",
]

# [build-system]
# requires = ["hatchling"]
# build-backend = "hatchling.build"

# [tool.hatch.build.targets.wheel]
# packages = ["src/starway"]

# [tool.hatch.build.hooks.custom]
# path = "hatch_build.py"

[build-system]
requires = ["scikit-build-core", "nanobind"]
build-backend = "scikit_build_core.build"

[tool.scikit-build]
cmake.version = ">=3.27"
sdist.reproducible = true
sdist.cmake = false
wheel.packages = ["src/starway"]
build-dir = "build/{wheel_tag}"
editable.mode = "redirect"
editable.verbose = true
editable.rebuild = false
cmake.build-type = "Release"

[dependency-groups]
dev = [
    "nanobind>=2.9.2",
]
test = [
    "pytest>=8.4.2",
]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "I"]
ignore = []

[tool.cibuildwheel]
build = [
    "cp310-manylinux_x86_64",
    "cp311-manylinux_x86_64",
    "cp312-manylinux_x86_64",
    "cp313-manylinux_x86_64",
]
build-frontend = "build[uv]"
manylinux-x86_64-image = "manylinux_2_34"
before-all = [
  "curl -L https://github.com/openucx/ucx/releases/download/v1.19.0/ucx-1.19.0.tar.gz -o ucx.tar.gz && tar xf ucx.tar.gz",
  "yum install -y rdma-core",
  "cd ucx-1.19.0 && ./contrib/configure-release --with-ib --with-mlx5 && make -j && make install"
]
