/* Wrap long titles in pages */
h1 {
    word-wrap: break-word;
}

/* Monospace titles for API docs */
div.empty + section>h1 {
    font-family: var(--pst-font-family-monospace);
}

.prename {
    font-family: var(--pst-font-family-monospace);
    font-size: var(--pst-font-size-h4);
}

.sig-prename {
    display: none;
}
