# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

[project]
name = "slimrpc"
version = "0.0.1"
description = "RPC over SLIM Library"
requires-python = ">=3.9"
license = "Apache-2.0"
dependencies = [
    "slim-bindings>=0.4.1",
    "googleapis-common-protos>=1.70.0",
    "grpcio>=1.74.0",
    "async-timeout>=5.0.1",
]

[dependency-groups]
linting = ["types-protobuf>=6.30.2.20250703", "ruff>=0.12"]
testing = ["pytest>=8.3.4"]

[tool.uv]
default-groups = ["linting", "testing"]

# [tool.uv.sources]
# slim-bindings = { path = "../../bindings" }

[project.scripts]
simple-server = "srpc.examples.simple.server:main"
simple-client = "srpc.examples.simple.client:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["srpc"]

[tool.ruff.format]
exclude = ["*_pb2.py", "*_pb2.pyi", "*_pb2_srpc.py"]

[tool.ruff.lint]
extend-select = ["I", "ASYNC", "SIM", "B", "ANN"]
exclude = ["*_pb2.py", "*_pb2.pyi", "*_pb2_srpc.py"]
