$border-color-nofocus: $panel;
$border-title-color-nofocus: $panel;
$border-color-focus: $primary;
$border-title-color-focus: $primary;

Screen {
  layout: grid;
  grid-size: 3;
  grid-columns: 1fr 1fr 25;
  grid-rows: 1fr 1fr 9;
}

SettingsView {
  border-title-style: bold;
}

BarcodeView {
  height: 100%;


}

EventView {
  height: 100%;
}

SegmentView {
  scrollbar-size-vertical: 1;
  height: 100%;
}


#barcode {
  column-span: 2;
  row-span: 2;
}

#events {
  column-span: 2;
}

#settings {
  height: 100%;
}

.right {
  height: 100%;
}

.box {
  border: white round;
}

.box:focus {
  border-title-style: bold;
  border: round yellow;
}

QuitScreen {
  align: center middle;
}

/* DIALOG */
#dialog {
  grid-size: 2;
  grid-gutter: 1 2;
  grid-rows: 1fr 3;
  padding: 0 1;
  width: 40;
  height: 9;
  margin: 1 1;
  border: round yellow;
  background: blue;
}

#question {
  column-span: 2;
  height: 1fr;
  width: 1fr;
  content-align: center middle;
}

Button {
  width: 100%;
}

/* HELP SCREEN */
HelpScreen {
  layout: horizontal;
  align: center middle;
  padding: 0;
}

#help_outer {
  border: round $border-color-focus;
  background: $background;
  margin: 2 4;
  padding: 1 2;
  max-width: 88;
}

#help_header {
  dock: top;
  margin: 0 0 1 0;
  padding: 0 1;
}

#help_inner {
  border: round $border-color-nofocus;
  padding: 0 0 0 0;
}

#help_info {
  padding: 0 0 0 0;
}

#help_footer {
  dock: bottom;
  color: $text-muted;
  margin: 1 0 0 0;
  padding: 0 1;
}
