#appHomepage{
    background-color: #1e1f1c !important;
}

.category{
    background-color: #272822 !important;
    border-color: #343434 !important;
    color: #757575 !important;
}

.category:hover{
    border-color: #3f51b5 !important;
}