#appMyNotebooks{
    background-color: #1e1f1c !important;
}

.notebookTitle{
    background-color: #111111 !important;
    color: #757575 !important;
}

.panel{
    border-color: #343434 !important;
    border: solid 1px #343434 !important;
}

.panel-heading{
    border-color: #343434 !important;
}

.panel-body{
    background-color: #272822 !important;
    border-color: #343434 !important;
}

.panel-bordered{
    border-color: #343434 !important;
}

.selectNotebookSort{
    border-color: #343434 !important;
}

.iconBtn:hover{
    color:white !important;
}